{% extends "layout.html" %}

{% block title %}注文確認{% endblock %}

{% block css %}
    <link rel="stylesheet" href="../../static/css/user/confirm.css">
{% endblock %}

{% block content %}
    <main>
        <header><h1>注文確認</h1></header>
        <div class="zennbu">
        <table class="hyou1" border="1">
            <tr>
                <th><h3>本数</h3></th>
                <td> {{ order_data.count }} 本</td>
            </tr>
            <tr>
                <th><h3>ケチャップ</h3></th>
                <td>
                    {% if order_data.ketchup == 'true' %}
                    あり
                    {% else %}
                    なし
                    {% endif %}
                </td>
            </tr>
            <tr>    
                <th><h3>マスタード</h3></th>
                <td>
                    {% if order_data.mustard == 'true' %}
                    あり
                    {% else %}
                    なし
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th><h3>受け取り時間</h3></th>
                <td>
                    {% if order_data.reservationTime == 'none' %}
                    即時
                    {% else %}
                    {{ order_data.reservationTime }}
                    {% endif %}
                </td>
            </tr>
        </table>
        <p>
        </p>
        <div class="goukei">合計: {{ order_data.count|int * 150 }} 円</div>
        <p>
        </p>
        <div class="kotira"><h3>こちらのご注文でお間違いなかったでしょうか？</h3></div>
        <p>
        </p>
        <div class="tyuumonb">
        <button class="button3">
            <form action="/processing_order" id="confirmOrder" method="POST">
                <!-- <input type="hidden" name="nickname" value={{ order_data.nickname }}> -->
                <input type="hidden" name="count" value={{ order_data.count }}>
                <input type="hidden" name="ketchup" value={{ order_data.ketchup }}>
                <input type="hidden" name="mustard" value={{ order_data.mustard }}>
                <input type="hidden" id="reservationTime" name="reservationTime" value={{ order_data.reservationTime }}>
                <button type="submit">注文確定</button>
            </form>
        <!-- <h2><a href="/result">注文確定</a></h2> -->
        </button>
        </div>
        <button class="button1">
        <a href="/order">注文に戻る</a>
        </button>
        <button class="button2">
        <a href="/top">topに戻る</a>
        </button>
        <p></p>
        <div class="a2024">
        2024H×Sコンピューター部
        </div>
        <dialog>
            <div>
                予約可能時刻を超過しています。<br>
                受け取り時間を
                <span id="correctTime"></span>
                に変更しますがよろしいですか？
            </div>
            <button type="button" id="yes">はい</button>
            <button type="button" id="no">いいえ</button>
        </dialog>
    </main>
{% endblock %}

{% block javascript %}
<script>
    const reservationTime = '{{ order_data.reservationTime }}';
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/user/confirm.js') }}"></script>
{% endblock %}