{% extends "layout.html" %}

{% block title %}注文履歴{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/history.css') }}">
{% endblock %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<body>
  <div class="container">
    
    <div class="subheader">
      <h3>注文履歴</h3>
        <svg class="return" version="1.1" height="40" width="120" viewBox="0 0 120 40" onclick="window.location.href = '/top';">
          <line x1="10" y1="20" x2="20" y2="10" stroke="black"/>
          <line x1="10" y1="20" x2="20" y2="30" stroke="black"/>
          <text stroke-width="1" x="30" y="25">トップに戻る</text>
        </svg>
    </div>

    <main>
      {% if history_data %}
      <ul class="card-list">
          {% for data in history_data|reverse %}
            <li class="card-container" style="--white: true;">
              <div class="history-card">
                <div class="nickname">{{ data['nickname'] }}</div>
                <div class="time">{{ data['reservationTime'] }}</div>
                <div class="source">
                  <div class="ketchap">
                    ケチャップ: <!--半角空ける-->
                    {% if data['ketchup'] == True %}
                      <span>あり</span>
                    {% else %}
                      <span>なし</span>
                    {% endif %}
                  </div>
                  <div class="mustard">
                    マスタード: <!--半角空ける-->
                    {% if data['mustard'] == True %}
                      <span>あり</span>
                    {% else %}
                      <span>なし</span>
                    {% endif %}
                  </div>
                </div>
              <div class="number"><span>{{ data['count'] }}</span>本</div>
              {% if data['status'] == "Receptable" %}
                <div class="status" id="makeImg">受け取り待ち</div>
              {% elif data['status'] == "Received" %}
                <div class="status2" id="makeImg">受け取り完了</div>
              {% endif %}
            </li>
          {% endfor %}
      </ul>

      <button id="deleteAllHistory" class="deleteButton" type="button">履歴を削除</button>

      <dialog>
          <p>全ての履歴を削除します。よろしいですか？</p>
          <form action="/history" id="redirectHistoryPage" method="GET">
            <button id="yes", type="button">はい</button>
            <button id="no", type="button">いいえ</button>
          </form>
      </dialog>
      {% else %}
      <div class="noHistory">
        <span>注文履歴はありません</span>
      </div>
      {% endif %}
    </main>
  </div>
</body>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/user/history.js') }}"></script>
{% endblock %}