{% extends "layout.html" %}

{% block title %}注文履歴{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/history.css') }}">
{% endblock %}

{% block content %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">

<body>
  <div class="container">
    
    <div class="subheader">
      <h3>注文履歴</h3>
      <!-- この矢印ボタンで戻れるようにする -->
      <svg class="return" version="1.1" height="40" width="40" viewBox="0 0 40 40" onclick="window.location.href = '/top';">
        <path class="line" d="M 10,20 L 20,10" />
        <path class="line" d="M 10,20 L 20,30" />
      </svg>
    </div>

    <main>
      {% if history_data %}
      <ul class="card-list">
        {% for data in history_data %}
        <li class="card-container" style="--white: true;">
          <div class="history-card">
            <div class="nickname">{{data.name}}</div>
            <div class="time">
              予約時間: <!--半角空ける-->
              {% if data.reservationTime == None %}
              <span>即時</span>
              {% else %}
              <span>{{data.reservationTime}}</span>
              {% endif %}
            </div>
            <div class="source">
              <div class="ketchap">
                ケチャップ: <!--半角空ける-->
                {% if data.ketchup == True %}
                  <span>あり</span>
                {% else %}
                  <span>なし</span>
                {% endif %}
              </div>
              <div class="mustard">
                マスタード: <!--半角空ける-->
                {% if data.mustard == True %}
                  <span>あり</span>
                {% else %}
                  <span>なし</span>
                {% endif %}
              </div>
            </div>
          <div class="number"><span>{{data.number}}</span>本</div>
        </li>
        {% endfor %}
        
        <!-- <li class="card-container" style="--white: true;">
          <div class="history-card">
            <div class="nickname">かばやき</div>
            <div class="time">13:17</div>
            <div class="source">
              <div class="ketchap">ケチャップ: <span>なし</span></div>
              <div class="mustard">マスタード: <span>なし</span></div>
            </div>
          <div class="number"><span>5</span>本</div>
          <div class="status2" id="makeImg">受け取り完了</div>
        </li> -->

        <!-- <li class="card-container" style="--white: true;">
          <div class="history-card">
            <div class="nickname">大阪太郎</div>
            <div class="time">12:35</div>
            <div class="source">
              <div class="ketchap">ケチャップ: <span>あり</span></div>
              <div class="mustard">マスタード: <span>あり</span></div>
            </div>
          <div class="number"><span>1</span>本</div>
          <div class="status2" id="makeImg">受け取り完了</div>
        </li>

        <li class="card-container" style="--white: true;">
          <div class="history-card">
            <div class="nickname">わさびのりこ</div>
            <div class="time">11:30</div>
            <div class="source">
              <div class="ketchap">ケチャップ: <span>あり</span></div>
              <div class="mustard">マスタード: <span>なし</span></div>
            </div>
          <div class="number"><span>3</span>本</div>
          <div class="status2" id="makeImg">受け取り完了</div>
        </li> -->

      </ul>

      <button id="deleteAllHistory" class="deleteButton" type="button">履歴を削除</button>

      <dialog>
          <p>全ての履歴を削除します。よろしいですか？</p>
          <form action="/history" id="redirectHistoryPage" method="GET">
            <button id="yes", type="button">はい</button>
            <button id="no", type="button">いいえ</button>
          </form>
      </dialog>
      {% else %}
      <div class="noHistory">
        <span>注文履歴はありません</span>
      </div>
      {% endif %}
    </main>
  </div>
</body>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/user/history.js') }}"></script>
{% endblock %}