<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock  %} - HxSのフランクフルト</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/layout.css') }}">
</head>

<body>
    <!-- ヘッダー -->
    <header>

    </header>

    <!-- メインコンテンツ -->
    {% block content %}{% endblock  %}
    
    <!-- フッター -->
    <footer>

    </footer>

    <!-- javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/user/layout.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>