{% extends "layout.html" %}

{% block title %}注文{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/order.css') }}">
{% endblock %}

{% block content %}
    <body>
        <form action="/confirm" id="orderForm" method="POST">
            <div class="container">
                <div class="frankfurt">
                    <h1>フランクフルト</h1>
                    <div class="inputContents">
                        <label for="count">￥ 200</label>
                        <input type="number" value="1" min="1" max="10" name="count" id="count">
                    </div>
                </div>
                <div class="topping">
                    <h1>トッピング</h1>
                    <div class="toggleButton">
                        <label for="ketchup">ケチャップ</label>
                        <label for="ketchup">
                            <input type="radio" name="ketchup" value="true" checked>
                            あり
                        </label>
                        <label for="ketchup">
                            <input type="radio" name="ketchup" value="false">
                            なし
                        </label>
                    </div>
                    <div class="toggleButton">
                        <label for="mustard">マスタード</label>
                        <label for="mustard">
                            <input type="radio" name="mustard" value="true" checked>
                            あり
                        </label>
                        <label for="mustard">
                            <input type="radio" name="mustard" value="false">
                            なし
                        </label>
                    </div>
                </div>
                <div class="reservationTime">
                    <h1>受け取り時間</h1>
                    <div class="toggleButton">
                        <label for="wantToReserve">
                            <input type="radio" id="wantToReserve0" name="wantToReserve" value="false" onclick="changeDisabled()" checked>
                            即時
                        </label>
                        <label for="wantToReserve">
                            <input type="radio" id="wantToReserve1" name="wantToReserve" value="true" onclick="changeDisabled()">
                            時間指定
                        </label>
                    </div>
                    <div class="setReservationTime">
                        <label for="reservationTime"></label>
                        <input type="hidden" id="reservationTime0" name="reservationTime" value="none">
                        <input type="time" id="reservationTime1" name="reservationTime" value="" disabled="disabled" required>
                        <p>
                            ※予約可能時刻は、現在時刻より15分後からの時刻です。
                        </p>
                    </div>
                </div>
                <div class="bottomMenu">
                    <button type="button">Top</button>
                    <span>合計</span>
                    <span id="resultMoney">150</span>
                    <span>円</span>
                    <button type="submit">注文確認へ</button>
                </div>
            </div>
        </form>

        <dialog>
            <div>
                <span id="correctTime"></span>
                以降の時刻を選択して下さい。
            </div>
            <button type="button" id="yes">はい</button>
        </dialog>
    </body>
    
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/user/order.js') }}"></script>
{% endblock %}