<!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/sgrid.css') }}" />
  </head>
  <body>
    <div class="wrapper">
      <div class="f_number">個数</div>
      <div class="nickname">Nickname</div>
      <div class="time">注文時間</div>
      <div class="ketchup">ケチャップ</div>
      <div class="mustard">マスタード</div>
      <div class="status">注文状況</div>
    </div>

    <div class="wrapper">
      <div class="f_number">個数</div>
      <div class="nickname">Nickname</div>
      <div class="time">注文時間</div>
      <div class="ketchup">ケチャップ</div>
      <div class="mustard">マスタード</div>
      <div class="status">注文状況</div>
    </div>
  </body>
</html>