{% extends "layout.html" %}

{% block title %}トップ{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/top.css') }}">
{% endblock %}

{% block content %}
    <!-- <h1></h1> --->
    <div class="appframe">
        <h1>フランクフルト</h1>
        <h1>モバイルオーダー</h1>
        <p>Let's eat Frankfurt!</p>
        <!-- a href="./order" target="_blank">スマホで注文</a><p></p -->
        <a href="{{ url_for('order') }}">スマホで注文</a><p></p>
        <a href="{{ url_for('error') }}">注文状況を確認</a><p></p>
        <a href="{{ url_for('history') }}">注文履歴</a><p></p>
        <a href="{{ url_for('sgrid') }}">css試験用</a><p></p>
        
        <script src="mp_2.js" charset="utf-8"></script>
    </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/user/top.js') }}"></script>
{% endblock %}