{% extends "layout.html" %}

{% block title %}トップ{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user/top.css') }}">
{% endblock %}

{% block content %}
  <meta charset="UTF-8">
  <!-- <h1></h1> --->
  <main>
    <div class="navigation">1OOO教室にて<br>フランクフルト販売中!</div>
    <input type="button" class="link_button" onclick="location.href='order'" value="スマホで注文">
    <input type="button" class="link_button" onclick="location.href='history'" value="注文履歴">
  </main>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ url_for('static', filename='js/user/top.js') }}"></script>
{% endblock %}