<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock  %} - HxSのフランクフルト</title>
    {% block css %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <img decoding="async" class="header-logoImg" src="{{ url_for('static', filename='picture/HxS_logo_W.svg') }}" width="100">
        <h1 class="title">フランクフルト<br>モバイルオーダー</h1>
    </header>

    <!-- メインコンテンツ -->
    {% block content %}{% endblock  %}
    
    <!-- フッター -->
    <!-- <footer>
        フッターです
    </footer> -->

    <!-- javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/layout.js') }}"></script>
    {% block javascript %}{% endblock %}
</body>

</html>