<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>システムメッセージ - HxSのフランクフルト</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/system_message.css') }}">
</head>

<body>
    <!-- ヘッダー -->
    <header>
        ヘッダー
    </header>

    <!-- メインコンテンツ -->
    <main>
        <h1>システムメッセージのページです</h1>
    </main>
    
    <!-- フッター -->
    <footer>
        フッター
    </footer>

    <!-- javascript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin/system_message.js') }}"></script>
</body>

</html>