{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/top.css') }}">
    <style>
        /* メッセージのスタイル */
        .delete-message {
            position: fixed;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #333;
            color: white;
            padding: 10px 20px;
            border-radius: 5px;
            display: none; /* 初期は非表示 */
        }
    </style>
{% endblock %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>ニックネーム</th>
            <th>本数</th>
            <th>ケチャップ</th>
            <th>マスタード</th>
            <th>予約時刻</th>
            <th>     </th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr>
            <td>山田 太郎</td>
            <td>1</td>
            <td><input type="checkbox" disabled='disabled'></td>
            <td><input type="checkbox" disablad='disabled'></td>
            <td>15:00</td>
            <td>
                <button class="deleteButton">削除</button>
            </td>
        </tr> -->
        {% for data in data %}
            <tr>
                <td>{{ data["ニックネーム"] }}</td>
                <td>{{ data["本数"]}}</td>
                <td>
                    <div class="checkbox-container">
                        <input type="checkbox" class="ketchup" disabled='disabled'
                        {% if data["ケチャップ"]==True %}
                            checked
                        {% endif %}>
                    </div>
                </td>
                <td>
                    <div class="checkbox-container">
                        <input type="checkbox" class="mustard" disabled='disabled'
                        {% if data["マスタード"]==True %}
                            checked
                        {% endif %}
                    </div>
                </td>
                <td>
                    {% if data["予定時刻"]==None %}
                        現地注文
                    {% else %}
                        {{ data["予定時刻"] }}
                    {% endif %}
                </td>
                <td>
                    <form id="delete" action="/delete" method="POST">
                        <input name="ニックネーム" style="display: none;" value={{ data["ニックネーム"] }}></input>
                        <button class="deleteButton" onclick="SendDeleteForm()" type="button">削除</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div id="delete-message" class="delete-message">
    削除しました
</div>
    
{% endblock %}

{% block javascript %}
<script>
     const params = new URLSearchParams(window.location.search);
     const dataFromFlask = params.get('data'); 
    
    // 削除メッセージを表示する関数
    function showDeleteMessage() {
        const message = document.getElementById('delete-message');
        message.style.display = 'block';

        // 5秒後にメッセージを非表示にする
        setTimeout(() => {
            message.style.display = 'none';
            document.getElementById(`delete-form-${index}`).submit();
        }, 5000);
    }
</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/admin/top.js') }}"></script>
{% endblock %}