*{
    padding: 0;
    margin: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #00a1e9;
    color: white;
}

/* footer{
    position: fixed;
    bottom: 0;
} */